/* Common styles for all links */
.navLink {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff; /* Default color */
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s, transform 0.3s, border-bottom 0.3s;
}

.navLink:hover {
  color: #ff6f61; /* Hover color */
  transform: scale(1.05);
}

/* Active link style */
.navLinkActive {
  color: #ff6f61; /* Active color */
  border-bottom: 2px solid #ff6f61; /* Underline effect */
}

/* Styles for the desktop menu */
.desktopMenu {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
}

/* Styles for the profile and settings icons in desktop view */
.iconLink {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.iconImage {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.iconImage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for the login and signup buttons in desktop view */
.authButton {
  border: 1px solid #ffffff;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.signUpButton {
  color: #ffffff;
  background-color: transparent;
}

.logInButton {
  color: #000000;
  background-color: #ffffff;
}

/* Hover effect for buttons */
.authButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
